%section.content-header
  %h1 Debt Owed

%br/

%section
  = csrf_tag
  .row
    .col-md-10.col-md-offset-1
      .box
        .box-header.with-border
          %h2.box-title Debts Pending
        .box-body.table-responsive.no-padding
          %table.table.table-hover.table-striped.text-center
            %thead
              %tr
                %th Week
                - @users.each do |user|
                  - next if user == @current_user
                  %th= user.name
            %tbody
              - @weeks.each do |week|
                - next unless week.winner? && week.winner == @current_user
                %tr
                  %td
                    = week.week
                  - week.debts_dataset.by_loser.all.each do |debt|
                    - next if debt.loser_id == week.winner.id
                    - klass = debt.paid ? 'btn-success' : 'btn-danger'
                    %td
                      %a.btn.btn-block.btn-sm.debt-owed{class: klass, id: debt.id}
                        = '$%d' % debt.amount

%section
  .row
    .col-md-10.col-md-offset-1
      .box
        .box-header.with-border
          %h2.box-title Debt Owed To Others
        .box-body.table-responsive.no-padding
          %table.table.table-hover.table-striped.text-center
            %thead
              %tr
                - @users.each do |user|
                  - next if user == @current_user
                  %th= user.name
            %tbody
              %tr
                - @users.each do |user|
                  - next if user == @current_user
                  - amount = @debts_owed[user.id] || 0
                  - klass = 'danger' if amount > 0
                  %td{class: klass}
                    = '$%d' % amount

%section
  .row
    .col-md-10.col-md-offset-1
      .box
        .box-header.with-border
          %h2.box-title Difference Owed
        .box-body.table-responsive.no-padding
          %table.table.table-hover.table-striped.text-center
            %thead
              %tr
                - @users.each do |user|
                  - next if user == @current_user
                  %th= user.name
            %tbody
              %tr
                - @users.each do |user|
                  :ruby
                    next if user == @current_user
                    amount = (@debts_pending[user.id] || 0) - (@debts_owed[user.id] || 0)
                    klass =
                      if amount > 0
                        'success'
                      elsif amount < 0
                        'danger'
                      end
                  %td{class: klass}
                    = '$%d' % amount.abs

%section
  .row
    .col-md-10.col-md-offset-1
      .box
        .box-header.with-border
          %h2.box-title All Debts
        .box-body.table-responsive.no-padding
          %table.table.table-hover.table-striped.text-center
            %thead
              %tr
                %th{rowspan: 2} Week
                %th{rowspan: 2} Winner
                %th.text-center{colspan: @users.count} Losers
              %tr
                - @users.each do |user|
                  %th= user.name
            %tbody
              - @weeks.each do |week|
                %tr
                  %td
                    = week.week
                  - if week.winner?
                    %td= week.winner.name
                    - week.debts_dataset.by_loser.all.each do |debt|
                      - if debt.loser_id == week.winner.id
                        %td.text-center
                          %i.fa.fa-times-circle
                      - else
                        - klass = debt.paid ? 'success' : 'danger'
                        %td{class: klass}
                          = '$%d' % debt.amount
                  - else
                    %td
                      - if week.games_finished?
                        %i Tie
                    %td{colspan: @users.count}
