!!!
%html{lang: 'en'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/

    %title NFL Pool

    / Tell the browser to be responsive to screen width
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport'}/

    = assets(:css)

  %body.hold-transition.skin-red.sidebar-mini
    .wrapper
      %header.main-header
        %a.logo{href: '/'}
          %span.logo-mini
            %b> NFL
          %span.logo-lg
            %b> NFL
            &nbsp;Pool

        %nav.navbar.navbar-static-top
          %a.sidebar-toggle{'data-toggle' => 'offcanvas', href: '#', role: 'button'}
            %span.sr-only Toggle navigation
          .navbar-custom-menu
            %ul.nav.navbar-nav
              %li.dropdown.user.user-menu.notifications-menu
                - if @current_user
                  %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                    %img.user-image{src: @current_user.image_url}/
                    %span.hidden-xs= @current_user.name
                  %ul.dropdown-menu
                    %li
                      %ul.menu
                        %li
                          %a{href: '/auth/sign_out'}
                            %i.fa.fa-sign-out
                            Sign Out
                - else
                  %a{href: '/auth/google_oauth2'}
                    %span.hidden-xs Sign In

      - if @current_user
        %aside.main-sidebar
          %section.sidebar
            %ul.sidebar-menu
              %li{class: "#{'active' if request.path == '/'}"}
                %a{href: '/'}
                  %i.fa.fa-table
                  %span Summary
              - picks = request.path.include? 'picks'
              - set_picks = request.path.include? 'edit'
              %li{class: ('active' if picks && !set_picks)}
                %a{href: '/picks'}
                  %i.fa.fa-check-square-o
                  %span Picks
              - if @current_week.betting_period?
                %li{class: ('active' if picks && set_picks)}
                  %a{href: "/picks/#{@current_week.week}/edit"}
                    %i.fa.fa-pencil
                    %span Set Picks

      .content-wrapper
        .row
          .col-md-6.col-md-offset-3
            - flash.each do |type, msg|
              .alert.alert-dismissible{class: "alert-#{type}"}
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                = msg

        = yield

    = assets(:js)

    :javascript
      $.widget.bridge('uibutton', $.ui.button);
