!!!
%html{lang: 'en'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/

    %title NFL Pool

    / Tell the browser to be responsive to screen width
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport'}/

    = assets(:css)

  %body.hold-transition.skin-red.sidebar-mini
    .wrapper
      %header.main-header
        %a.logo{href: '/'}
          %span.logo-mini
            %b> NFL
          %span.logo-lg
            %b> NFL
            &nbsp;Pool

        %nav.navbar.navbar-static-top
          %a.sidebar-toggle{'data-toggle' => 'offcanvas', href: '#', role: 'button'}
            %span.sr-only Toggle navigation
          .navbar-custom-menu
            %ul.nav.navbar-nav
              %li.dropdown.user.user-menu
                %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                  %span.hidden-xs Dave Nguyen

      %aside.main-sidebar
        %section.sidebar
          %ul.sidebar-menu
            %li{class: "#{'active' if request.path == '/'}"}
              %a{href: '/'}
                %i.fa.fa-table
                %span Summary
            %li{class: "#{'active' if request.path.include? 'picks'}"}
              %a{href: '/picks'}
                %i.fa.fa-check-square-o
                %span Picks

      .content-wrapper
        = yield

    = assets(:js)

    :javascript
      $.widget.bridge('uibutton', $.ui.button);
