%section.content-header.content-header-picks
  %h1.pull-left
    Picks for Week #{@week.week}

  - if @week.betting_period?
    %a.btn.btn-sm.btn-warning.btn-set-picks{href: "/picks/edit"}
      Set Your Picks!
  - elsif @show_picks
    %a.btn.btn-sm.btn-info.btn-set-picks{href: "/picks/#{@week.week}/quick"}
      Quick View

  %ul.pagination.pagination-sm.no-margin.pull-right
    - Week.for(2017).all.each do |week|
      :ruby
        i = week.week
        same_week = i == @week.week
        path = same_week ? '#' : "/picks/#{i}"
        klass = 'active' if same_week

      %li{class: klass}
        %a{href: path}= i

  %span Week:

%section.content.content-picks
  - if @week.games.empty?
    .row
      .col-md-12
        No games schedule.
  - else
    .row
      - @week.games_dataset.followed.all.each do |game|
        .col-md-4
          .box
            .box-header
              %b= game.starts_at.strftime '%A, %b. %-d - %l:%M %P'
            .box-body.no-padding
              %table.table
                - %w[away home].each do |type|
                  - team = game.send "#{type}_team"
                  %tr
                    %td.team-logo
                      %img{alt: '', class: 'picks-team-logo', src: team.logo_url}/
                    %td= team.name
                    %td
                      .pull-right
                        - if (s = game.spread_odd)
                          - if s.favored_team_id == team.id
                            = '%.1f' % s.odd
                          - else
                            T: #{'%.1f' % game.total_odd.odd}
                    - unless game.pending?
                      %td
                        .pull-right
                          - if type == 'away'
                            = game.away_team_score
                          - else
                            = game.home_team_score
            - if @week
              - pretty_picks = game.pretty_picks
              .box-footer
                %table.table.table-hover.table-striped.game-picks
                  %tr
                    %th
                    %th Spread
                    %th Total
                  - if game.final?
                    %tr.odds-winners
                      %th Winners:
                      %th.spread
                        %img{src: game.spread_odd.winning_team.logo_url}
                      %th.text-center
                        %i.fa{class: "fa-#{game.total_odd.winning_team.icon_name} pick-won"}
                  - User.order(:name).all.each do |user|
                    - user_picks = pretty_picks[user.id]
                    %tr
                      %td= user.name
                      - if user_picks && (pick = user_picks[:spread]) && (team = @teams[pick[:team_id]])
                        - if @show_picks
                          - klass = 'pick-lost' if !pick[:won].nil? && !pick[:won]
                          %td.spread
                            %img{class: klass, src: team.logo_url, title: team.name}
                        - else
                          %td.text-center
                            %i.fa.fa-question
                      - else
                        %td.text-center
                          %i.fa.fa-ban
                      %td.text-center
                        - if user_picks && (pick = user_picks[:total]) && (team = @teams[pick[:team_id]])
                          - if @show_picks
                            - klass = "pick-#{pick[:won] ? 'won' : 'lost'}" unless pick[:won].nil?
                            %i.fa{class: "fa-#{team.icon_name} #{klass}", title: team.name}
                          - else
                            %i.fa.fa-question
                        - else
                          %i.fa.fa-ban

%section.content.content-legend
  .row
    .col-md-6.col-md-offset-3
      .box
        .box-header.text-center
          %b Legend
        .box-body
          %table.table
            %tr
              %td
                %i.fa.fa-arrow-circle-up
              %td Over

              %td
                %i.fa.fa-arrow-circle-down
              %td Under

              %td
                %i.fa.fa-arrows-h
              %td Push

            %tr
              %td
                %i.fa.fa-question
              %td Pick hidden

              %td
                %i.fa.fa-ban
              %td{colspan: 3} Missing pick
