%section.content-header
  %h1 Summary

%section.content
  .row
    .col-md-10.col-md-offset-1
      .box
        .box-header.with-border
          %h2.box-title Standings
        .box-body.no-padding
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th Player
                %th.text-center Correct Picks
                %th.text-center Weeks Tied
                %th.text-center Weeks Won
                %th.text-center Winnings
            %tbody
              - User.order(:name).all.each do |user|
                %tr
                  %td
                    - t = user.team
                    %img{class: 'logo', src: t.logo_url, title: t.name}
                    = user.name
                  %td.text-center= user.pretty_correct_picks
                  %td.text-center
                  %td.text-center
                  %td.text-right
  .row
    .col-md-10.col-md-offset-1
      .box
        .box-header.with-border
          %h2.box-title Winnings by Week
        .box-body.table-responsive.no-padding
          %table.table.table-hover.table-striped.text-center
            %thead
              %tr
                %th Week
                %th Games
                %th Betting Tier
                %th Pot
                %th Winner
            %tbody
              - @weeks.each do |week|
                %tr
                  %td
                    = week.week
                  %td
                    = week.games_dataset.followed.count
                  %td
                    = week.betting_tier
                  %td
                    - if week.pot
                      = '$%d' % week.pot
                  %td
                    - if week.games_finished?
                      - if week.winner?
                        = week.winner.name
                        wins!
                      - else
                        Tie
                        %br/
                        %i
                          = week.winners.map(&:name).sort
